body{
  line-height: 23px;
  background-image: url("./background.jpg");  
  background-size:100% 100%;
}

button{
  margin: 10px 0;
  font-size: 14px;
}

#show div div{
  display: inline-block;
  color:#aaa;
  margin-right: 10px;
}

.mainWindow{
  display: flex;    
  height: 100%;
  flex-direction: column;
  justify-content: space-between;  
}

.outChatWindow{
  height: 100%;
  display: flex;  
  justify-content: center;
  margin-top: 2%;  
}

.chatWindow{
  width: 70%;
  height: 100%;
  border: black solid 2px;
  background-color: aliceblue;
  opacity: 0.6;
  padding-top: 0.5%;
  padding-left: 1%;
  overflow: auto;
}

.eachChatWindowText{
  display: flex;  
  flex-direction: row;
}

.outInputWindow{
  height: 50%;
  display: flex;  
  justify-content: center;  
}

.inputWindow{
  display: flex;  
  flex-direction: column;
  justify-content: flex-end;
  width: 70%;
}

#content{
  width: 100%;  
  margin-top: 1%;
}

.divContent{  
  margin-top: 1%;
}

.sendBtn{
  width:30%;
  margin-top: 3%;
}